/* 导入主题色 */
@import './theme.css';

/* 应用主题色到全局变量 */
:root {
  --color-background: var(--bg-color);
  --color-background-soft: var(--bg-color-soft);
  --color-background-mute: var(--bg-color-dark);

  --color-border: var(--primary-light);
  --color-border-hover: var(--primary-color);

  --color-heading: var(--primary-color);
  --color-text: var(--text-color);

  --section-gap: 160px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
